.controls{
	margin-top: 75px;
	margin-left: 40px;
}

.column{
	float: left;
	width: 30%;
	margin-left: 40px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.controlBtns {
	margin-left: 35px;
}
