* {
	margin: 0;
	padding: 0;
}

.infoClass{
	margin-top: 75px;
	margin-left: 40px;
	font-size: 200%;
}

@media only screen and (max-width: 1280px){
	.infoClass{
		margin-top: 60px;
		margin-left: 35px;
		font-size: 150%;
	}
}
