*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: rgb(204, 204, 204);
}

header{
  background-color: rgb(29, 64, 128);
  padding-top: 2em;
  
}

.logo {
  padding-left:  1em;
  font-size: 400%;
  color: white;
  padding-bottom: .5em;
}

.menu {
  clear: left;
  text-align: center;
  margin-top: 8px;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.menu ul li{
  float: left;
  width: 20%;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  font-size: 125%;
  width: auto;
  text-decoration: none;
  text-align: center;
  padding-top: .75em;
  padding-bottom: .75em;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: white;
  background-color: rgb(12, 143, 112);
}

.menu ul li a:hover{
  background-color: #444;
  color: white;
  /* transition: all .5s; */
}

.rpiControls {
  float: right;
  margin-right: 5%;
  font-size: 200%;
  margin-top: 1em;
}

.rpiControls form{
  margin-left: 60px;
}

/* .rpiControls form button{
  text-decoration: none;
  margin: 22px 5px;
  display: inline;
  width: 60px;
  border: 1px solid black;
  border-radius: 15%;
  font-size: 145%;
} */
.rpiControls button{
  text-decoration: none;
  margin: 22px 5px;
  display: inline;
  width: 60px;
  border: 1px solid black;
  border-radius: 15%;
  font-size: 145%;
}

/* .rpiControls form #rpiOff .material-icons{
  font-size: 75%;
  color: white;
} 

.rpiControls form #rpiReboot .material-icons{
  font-size: 75%;
  color: white;
}  */

.rpiControls #rpiOff .material-icons{
  font-size: 75%;
  color: white;
} 

.rpiControls #rpiReboot .material-icons{
  font-size: 75%;
  color: white;
} 

#rpiOff{
  background-color: rgb(29, 64, 128);
}

#rpiOff:hover{
  background-color: rgb(21, 181, 221);
}
#rpiReboot{
  background-color: rgb(12, 143, 112);
}
#rpiReboot:hover{
  background-color: rgb(41, 233, 159);
}

.slicknav_menu{
  display: none;
}

@media only screen and (max-width: 1280px){
  .logo {
    font-size: 300%;
  }

  .menu ul li{
    width: 20%;
  }
  
  .menu ul li a {
    font-size: 100%;
    width: auto;    
  }

  .rpiControls {
    margin-right: 5%;
    font-size: 200%;
    margin-top: .5em;
  }
  
  .rpiControls form button{
    margin: 22px 5px;
    width: 50px;
    font-size: 110%;
  }
  
  .rpiControls form #rpiOff .material-icons{
    font-size: 70%;
  } 
  
  .rpiControls form #rpiReboot .material-icons{
    font-size: 70%;
  }
}

@media only screen and (max-width: 767px){
  .logo {
    font-size: 200%;
    text-align: center;
    padding: 0;
  }

  .menu ul li{
    display: none;
  }

  #mobilemenu{
    display: block;
    background-color: rgb(29, 64, 128) !important;
  }

  .slicknav_menu{
    display: block;
    background-color:  rgb(12, 143, 112) !important;
  }
  .slicknav_menu ul li a{
    color: white !important;
  }

  .rpiControls {
    margin-right: 5%;
    font-size: 200%;
    margin-top: 0;
  }
  
  .rpiControls form button{
    /* margin: 22px 5px; */
    width: 50px;
    font-size: 110%;
  }
  
  .rpiControls form #rpiOff .material-icons{
    font-size: 65%;
  } 
  
  .rpiControls form #rpiReboot .material-icons{
    font-size: 65%;
  }


}





/* .menu li {
  display: inline-block;
  margin-right: 40px;
} */
/* .menu li + li { */
  /* margin-left: 35px; */
  /* margin-left: 10%; */
/* } */

/* .menu ul li {
  width: 100%;
}

.menu li a {
  border-bottom: 2px, solid, black !important;
  color: #444;
  text-decoration: none;
  font-size: large;
  display: block;
} */

