* {
	margin: 0;
	padding: 0;
}

.musicClass{
	margin-top: 75px;
	margin-left: 40px;
	font-size: 200%;
}

.column{
	float: left;
	width: 30%;
	margin-left: 40px;
}

#musicColumn{
	padding-bottom: 2em;
}

#colorColumn h4{
	font-size: 200%;
	margin-top: 5%;
}
#colorColumn label{
	font-size: 150%;
}

#favcolor{
	width: 100px;
	height: 50px;
}

#musicColumn h4{
	font-size: 200%;
	margin-top: 5%;
}
#musicColumn label{
	font-size: 150%;
}

#optionsColumn h4{
	font-size: 200%;
}

.sliderDiv input{
	width: 50%;
	background: rgb(29, 64, 128);
}
.sliderDiv::-webkit-slider-thumb{
	border-radius: 50%;
}
.sliderDiv label{
	font-size: 150%;
}

#offBtn{
	font-size: 150%;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	width: 28%;
	margin: 15px 10px;
	color: white;
	background-color: rgb(29, 64, 128);
}

#offBtn .material-icons{
	font-size: 125%;
	margin-bottom: 10px;
}

#offBtn:hover{
	background-color: rgb(21, 181, 221);
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 1280px){
	* {
		margin: 0;
		padding: 0;
	}

	.musicClass{
		margin-top: 60px;
		margin-left: 35px;
		font-size: 150%;
	}

	.column{
		float: left;
		width: 30%;
		margin-left: 3%;
	}

	#colorColumn h4{
		font-size: 150%;
		margin-top: 5%;
	}
	#colorColumn label{
		font-size: 125%;
	}
	
	#favcolor{
		width: 75px;
		height: 35px;
	}

	#musicColumn h4{
		font-size: 150%;
		margin-top: 5%;
	}
	#musicColumn label{
		font-size: 125%;
	}

	#optionsColumn h4{
		font-size: 150%;
	}
	
	.sliderDiv input{
		width: 50%;
		background: rgb(29, 64, 128);
	}
	.sliderDiv::-webkit-slider-thumb{
		border-radius: 50%;
	}
	.sliderDiv label{
		font-size: 125%;
	}

	#offBtn{
		font-size: 125%;
		text-align: center;
		border: 1px solid black;
		border-radius: 8px;
		width: 28%;
		margin: 13px 8px;
		color: white;;
	}
	
	#offBtn .material-icons{
		font-size: 125%;
		margin-bottom: 10px;
	}

	.row:after{
		content: "";
		display: table;
		clear: both;
	}
}

@media only screen and (max-width: 767px){
	* {
		margin: 0;
		padding: 0;
	}

	.musicClass{
		margin-top: 4em;
		margin-right: 7%;
		font-size: 150%;
	}

	.musicClass h2{
		text-align: center;
	}

	.column{
		float: left;
		width: 100%;
		margin-left: 3%;
	}

	#colorColumn h4{
		font-size: 150%;
		margin-top: 5%;
	}
	#colorColumn label{
		font-size: 125%;
	}
	
	#favcolor{
		width: 75px;
		height: 35px;
	}

	#musicColumn h4{
		font-size: 150%;
		margin-top: 5%;
	}
}
