* {
	margin: 0;
	padding: 0;
}

.playlists{
	margin-top: 75px;
	margin-left: 40px;
	font-size: 200%;
}
.playlists p{
	font-size: 100%;
}

.column{
	float: left;
	width: 30%;
	margin-left: 3%;
}
#functionsColumn h4{
	font-size: 200%;
	margin-top: 5%;
}

#functionsColumn ul li{
	list-style-type: none;
}
#basic{
	font-size: 150%;
}
#repeating{
	font-size: 150%;
}
.addBtn{
	height: 24px;
	width: 24px;
	border: 1px solid black;
	border-radius: 15%;
	background-color: rgb(12, 143, 112);
	color: white;
}
.addBtn i{
	font-size: 150%;
	text-align: center;
}
.addBtn:hover{
	background-color: rgb(41, 233, 159);
}

#playlistColumn{
	/* padding-bottom: 2em; */
	margin-top: 2%;
}
#playlistColumn ul li{
	list-style-type: none;
	font-size: 150%;
	border: 1px solid black;
	border-radius: 10px;
	padding: .25em .25em .25em .25em;
	margin-right: 5em;

}
#playlistColumn h4{
	font-size: 200%;
}
#playBtn{
	/* font-size: 125%;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	width: 17%;
	margin: 13px 8px;
	color: white; */
	background-color: rgb(12, 143, 112);
}
#playBtn:hover{
	background-color: rgb(41, 233, 159);
}
/* #playBtn .material-icons{
	font-size: 125%;
	margin-bottom: 10px;
} */

#playPresetBtn{
	font-size: 125%;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	width: 17%;
	height: 37px;
	margin: 13px 8px;
	color: white;
	background-color: rgb(12, 143, 112);
}
#playPresetBtn:hover{
	background-color: rgb(41, 233, 159);
}

.controlBtns button{
	/* font-size: 125%;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	width: 5%;
	margin: 13px 8px;
	background-color: rgb(29, 64, 128);
	color: white; */
	font-size: 125%;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	width: 17%;
	margin: 13px 8px;
	color: white;
	background-color: rgb(12, 143, 112);
}
.controlBtns button .material-icons{
	font-size: 125%;
	margin-bottom: 10px;
	/* margin-bottom: 15px; */
}
.controlBtns button:hover{
	background-color: rgb(41, 233, 159);
}

#offBtn{
	width: 19%;
	background-color: rgb(29, 64, 128);
}
#offBtn:hover{
	background-color: rgb(21, 181, 221);
}

#cancelBtn{
	background-color: rgb(12, 143, 112);
}
#cancelBtn:hover{
	background-color: rgb(41, 233, 159);
}

#presetsColumn label{
	font-size: 150%;
}
#presetsColumn h4{
	font-size: 200%;
}
#presetsColumn input{
	border: 0px;
	width: 20px;
	height: 20px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 1280px){
	* {
		margin: 0;
		padding: 0;
	}

	.playlists{
		margin-top: 75px;
		margin-left: 35px;
		font-size: 150%;
	}
	
	.column{
		float: left;
		width: 30%;
		margin-left: 3%;
	}

	#functionsColumn h4{
		font-size: 150%;
		margin-top: 5%;
	}
	#basic{
		font-size: 125%;
		margin-top: 3%;
	}
	#repeating{
		font-size: 125%;
		margin-top: 3%;
	}
	.addBtn{
		font-size: 15px;
		text-align: center;
		height: 24px;
		width: 24px;
	}

	#playlistColumn h4{
		font-size: 105%;
		margin-bottom: 3%;
		/* text-align: center; */
	}
	#playlistColumn{
		/* padding-bottom: 2em; */
		font-size: 150%;
		/* margin-top: 5%; */
		column-width: 275px;
	}
	#playlistColumn ul li{
		list-style-type: none;
		font-size: 80%;
		/* background-color: white; */
		border: 1px solid black;
		border-radius: 10px;
		padding: .25em .25em .25em .25em;
		margin-right: 5em;
	}
	.controlBtns button{
		font-size: 100%;
		text-align: center;
		border: 1px solid black;
		border-radius: 8px;
		width: 26%;
		margin: 13px 8px;
		color: white;
		background-color: rgb(12, 143, 112);
	}
	.controlBtns button .material-icons{
		font-size: 100%;
		margin-bottom: 10px;
		/* margin-bottom: 15px; */
	}
	#offBtn{
		width: 32%;
	}

	#presetsColumn label{
		font-size: 125%;
	}
	#presetsColumn h4{
		font-size: 150%;
		margin-top: 3%;

	}
	#presetsColumn input{
		border: 0px;
		width: 15px;
		height: 15px;
	}

	#playPresetBtn{
		font-size: 125%;
		text-align: center;
		border: 1px solid black;
		border-radius: 8px;
		width: 26%;
		height: 37px;
		margin: 13px 8px;
		color: white;
		background-color: rgb(12, 143, 112);
	}
	
	.row:after{
		content: "";
		display: table;
		clear: both;
	}
}