<!DOCTYPE html>
<html>
    <head>
        <title>Basic Functions</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    </head>
    {% extends "layout.html" %}

    <body>
        {% block content %}
            <div class="basic">
                <h2>Basic Functions</h2>
            </div>

            <div class="basicChange">
                <h4>Color</h4>
                <label for="favcolor">Choose a color and hit "Apply" to change the color of your lights.</label>
                <form action="{{url_for('basicChange')}}" method="post">
                    <!--Change solid color-->
                    <input type="color" id="favcolor" name="favcolor" value="#ff0000">
                    <!-- <button type="submit">Apply</button> -->
                    
                    <br>
                    
                    <!--Change Function-->
                    <input type="radio" id="favFunc" name="options" value="colorWipe">
                    <label for="colorWipe">Color Wipe</label>

                    <br>

                    <input type="radio" id="favFunc" name="options" value="rColorWipe">
                    <label for="colorWipe">Reverse Color Wipe</label>

                    <br>

                    <button type="submit">Apply</button>
                </form>
            </div>
        {% endblock %}
    </body>
</html>