<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    </head>
    {% extends "layout.html" %}

    <body>
        {% block content %}
            <div class="basic">
                <h2>Basic Functions</h2>
            </div>

            <div class="colorPicker">
                <h4>Color</h4>
                <label for="favcolor">Choose a color and hit "Apply" to change the color of your lights.</label>
                <form action="{{url_for('colorChange')}}" method="post">
                    <input type="color" id="favcolor" name="favcolor" value="#ff0000">
                    <!-- <a href="/basicFunctions/{{color}}/{{apply}}" class="btn btn-block btn-lg btn-primary" role="button">Apply</a></div></div> -->
                    <!-- <button type="button">Apply</button> -->
                    <input type="submit">
                </form>
            </div>
        {% endblock %}
    </body>
</html>