<!DOCTYPE html>
<html>
    <head>
        <title>Control</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">
    </head>
    {% extends "layout.html" %}

    <body>
        {% block content %}
            <div class="controls">
                <h2>Controls</h2>
            </div>
            
            <div class="controlBtns">
                <form action="{{url_for('controlsChange')}}" method="post">
                  <button type="submit" name="btnOff" value="off">Turn Off Lights</button>
                  <button type="submit" name="cancel" value="cancelTask">Cancel Loop</button>
                </form>
            </div>

            <div class="row">
                <form action="{{url_for('controlsChange')}}" method="post">
                    <div class="column" id="colorColumn">
                        <h4>Color</h4>
                        <label for="favcolor">Choose a color and hit "Apply"</label>
                        <br>        
                        <!--Change solid color-->
                        <input type="color" id="favcolor" name="favcolor" value="#ff0000">
                        
                        <br>
                    </div>
                    
                    <div class="column" id="functionsColumn">
                        <h4>Basic</h4>
                        <p>Select one and hit "Apply"</p>

                        <!--Change Function-->
                        <input type="radio" id="colorWipe" name="functions" value="colorWipe">
                        <label for="colorWipe">Color Wipe</label>

                        <br>

                        <input type="radio" id="rColorWipe" name="functions" value="rColorWipe">
                        <label for="colorWipe">Reverse Color Wipe</label>

                        <br>

                        <h4>Repeating</h4>
                        <input type="radio" id="fade" name="functions" value="fade">
                        <label for="fade">Fade</label>

                        <br>
                    </div>

                    <div class="column" id="optionsColumn">
                        <h4>Options</h4>
                        <input type="checkbox" id="2Colors" name="options" value="2Colors">
                        <input type="color" id="favColor2" name="favColor2" value="#ff0000">
                        <label for="2Colors">2 Colors</label>

                        <div class="sliderDiv">
                            <label for="slider">Brightness</label>
                            <input type="range" min="1" max="100" value="100" name="slider" id="brightness">
                            <p>Value: <span id="value"></span></p>
                        </div>

                        <div class="speedDiv">
                            <label for="speed">Speed (seconds)</label>
                            <input type="text" maxlength="4" size="1" value="0" name="speed" id="speed">   <!--Speed in Seconds-->
                        </div>
                        

                        <button type="submit">Apply</button>

                    </div>

                    <script>
                        var slider = document.getElementById("brightness");
                        var output = document.getElementById("value");
                        output.innerHTML = slider.value; // Display the default slider value
            
                        // Update the current slider value (each time you drag the slider handle)
                        slider.oninput = function() {
                            output.innerHTML = this.value;
                        }

                        var twoColors = document.getElementById("2Colors");
                        var color2 = document.getElementById("favColor2")
                        color2.style.display = "none"
                        twoColors.oninput = function(){
                            //Display the second color picker depending on if the box is checked or not
                            if(twoColors.checked == false){
                                color2.style.display = "none";
                            }
                            if(twoColors.checked){
                                color2.style.display = "block";                    
                            }
                        }

                    </script>

                </form>
            </div>
        {% endblock %}
    </body>
</html>