<!DOCTYPE html>
<html>
    <head>
        <title>Control</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/controls.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Google Icons-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='utilities.js')}}"></script>

    </head>
    {% extends "layout.html" %}

    <body>
        {% block content %}
            <div class="controls">
                <h2>Controls</h2>
            </div>

            <div class="row">
                <form action="{{url_for('controlsChange')}}" method="post">
                <!-- <form method="post" id="form"> -->
                    <div class="column" id="colorColumn">
                        <h4>Color</h4>
                        <br>
                        <label for="favcolor">Choose a color and hit "Apply"</label>
                        <br>        
                        <!--Change solid color-->
                        <input type="color" id="favcolor" name="favcolor" value="#ff0000">
                        
                        <br>
                    </div>
                    
                    <div class="column" id="functionsColumn">
                        <!--=============================================================-->
                        <!--                                                             -->
                        <!--                           BASIC                             -->
                        <!--                                                             -->
                        <!--=============================================================-->
                        <h4>Basic</h4>
                        <br>
                        <!-- <p>Select one and hit "Apply"</p> -->

                        <!--Change Function-->
                        <input type="radio" id="colorWipe" name="functions" value="colorWipe">
                        <label for="colorWipe">Color Wipe</label>

                        <br>

                        <input type="radio" id="rColorWipe" name="functions" value="rColorWipe">
                        <label for="colorWipe">Reverse Color Wipe</label>

                        <br>

                        <input type="radio" id="dotFill" name="functions" value="dotFill">
                        <label for="dotFill">Dot Fill</label>

                        <br>

                        <!--=============================================================-->
                        <!--                                                             -->
                        <!--                        REPEATING                            -->
                        <!--                                                             -->
                        <!--=============================================================-->
                        <br>
                        <h4>Repeating</h4>
                        <br>
                        <input type="radio" id="fade" name="functions" value="fade">
                        <label for="fade">Fade</label>

                        <br>

                        <input type="radio" id="theaterChase" name="functions" value="theaterChase">
                        <label for="theaterChase">Theater Chase</label>

                        <br>

                        <input type="radio" id="twinkle" name="functions" value="twinkle">
                        <label for="twinkle">Twinkle</label>

                        <br>

                        <input type="radio" id="disco" name="functions" value="disco">
                        <label for="disco">Disco</label>

                    </div>

                    <!--=============================================================================-->
                    <!--====                                                                     ====-->
                    <!--====                                                                     ====-->
                    <!--====                             OPTIONS                                 ====-->
                    <!--====                                                                     ====-->
                    <!--====                                                                     ====-->
                    <!--=============================================================================-->
                    <div class="column" id="optionsColumn">
                        <h4>Options</h4>

                        <br>
                        
                        <div class="sliderDiv">
                            <label for="slider">Brightness:</label>
                            <input type="range" min="1" max="100" value="15" name="brightness" id="brightness">
                            <label for="brightness"><span id="value"></span>%</label>
                            <!-- <p>Value: <span id="value"></span></p> -->
                        </div>

                        <br>

                        <!-- <div class="intensityDiv">
                            <label for="intensity">Intensity:</label>
                            <input type="range" min="1" max="75" value="12" name="intensity" id="intensity">
                        </div> -->

                        <div class="delayDiv">
                            <input type="checkbox" id="delayCheck" name="delayCheck" value="delayCheck">
                            <label for="delay">Delay (ms):</label>
                            <input type="text" maxlength="4" size="1" value="0" name="delay" id="delay">   
                        </div>

                        <br>

                        <!-- <div class="speedDiv" id="speedDivID">
                            <label for="speed">Fade Speed:</label>
                            <br>
                            <div class="subSpeedDiv">
                                <label for="speed1">Default</label>
                                <input type="radio" id="speed1" name="speed" value="default">
                                <br>
                                <label for="speed2">Medium</label>
                                <input type="radio" id="speed2" name="speed" value="medium">
                                <br>
                                <label for="speed3">Fast</label>
                                <input type="radio" id="speed3" name="speed" value="fast">
                            </div>
                        </div> -->

                        <!-- <br> -->

                        <div class="cyclesDiv" id="cyclesDivID">
                            <label for="cycles">Cycles:</label>
                            <input type="text" maxlength="4" size="1" value="0" name="cycles" id="cycles">
                        </div>

                        <br>

                        <div class="twoColorsDiv">
                            <input type="checkbox" id="twoColorsID" name="2Colors" value="2Colors">
                            <label for="2Colors">2 Colors:</label>
                            <input type="color" id="favColor2" name="favColor2" value="#ff0000">
                            
                        </div>
                        
                        <br>

                        <div class="controlBtns">
                            <form action="{{url_for('controlsChange')}}" method="post" name="controlsForm">
                                <button type="submit" title="Light up the lights" id="applyBtn">Apply   <i class="material-icons">&#xe038;</i></button>
                                <button type="submit" title="Turn off the lights" id="offBtn" name="btnOff" value="off">Turn Off   <i class="material-icons">&#xe8f5;</i></button>
                                <button type="submit" title="Stop a repeating function" id="cancelBtn" name="cancel" value="cancelTask">Stop   <i class="material-icons">&#xe5c9;</i></button>
                                <!-- <i class="material-icons">&#xe047;</i> -->
                            </form>
                        </div>

                    </div>

                    

                    <script>
                        var slider = document.getElementById("brightness");
                        var output = document.getElementById("value");
                        output.innerHTML = slider.value; // Display the default slider value
            
                        // Update the current slider value (each time you drag the slider handle)
                        slider.oninput = function() {
                            output.innerHTML = this.value;
                        }

                        var twoColors = document.getElementById("twoColorsID");
                        var color2 = document.getElementById("favColor2");
                        color2.style.display = "none";
                        twoColors.oninput = function(){
                            //Display the second color picker depending on if the box is checked or not
                            if(twoColors.checked == false){
                                color2.style.display = "none";
                            }
                            if(twoColors.checked){
                                color2.style.display = "inline-block";                    
                            }
                        }

                        var delayCheck = document.getElementById("delayCheck");
                        var delayTxt = document.getElementById("delay");
                        delayTxt.disabled = true;
                        delayTxt.style.display = "none";
                        delayCheck.oninput = function(){
                            if(delayCheck.checked == false){
                                delayTxt.style.display = "none";
                                delayTxt.disabled = true;
                            }
                            if(delayCheck.checked){
                                delayTxt.style.display = "inline-block";      
                                delayTxt.disabled = false;              
                            }
                        }

                        var fadeBtn = document.getElementById("fade");
                        var fadeSpeed = document.getElementById("speedDivID");
                        // fadeSpeed.style.display = "none";
                        // fadeBtn.oninput = function(){
                        //     if(fadeBtn.checked == false){
                        //         fadeSpeed.style.display = "none"
                        //         twoColors.disable = false;
                        //     }                           
                        //     if(fadeBtn.checked){
                        //         fadeSpeed.style.display = "block";
                        //         twoColors.disable = true;
                        //     }
                        //     if(fadeBtn.checked){
                        //         cycles.style.display = "block";
                        //     }
                        // }

                        var theaterBtn = document.getElementById("theaterChase");
                        var twinkleBtn = document.getElementById("twinkle");
                        var cycles = document.getElementById("cyclesDivID");
                        // cycles.style.display = "none";
                        // theaterBtn.oninput = function(){
                        //     if(theaterBtn.checked == false || fadeBtn.checked == false || twinkleBtn.checked == false){
                        //         cycles.style.display = "none"
                        //         // twoColors.disable = false;
                        //     }                           
                        //     if(theaterBtn.checked || twinkleBtn.checked){
                        //         cycles.style.display = "block";
                        //         // twoColors.disable = true;
                        //     }
                        // }

                        // var twinkleBtn = document.getElementById("twinkle");
                        // var color2 = document.getElementById("favColor2");
                        // twinkleBtn.oninput = function(){
                        //     if(twinkleBtn.checked == false){
                        //         color2.checked = false;
                        //     }
                        //     if(twinkleBtn.checked){
                        //         color2.checked = true;
                        //     }
                        // }

                    </script>

                </form>
            </div>
        {% endblock %}
    </body>
</html>