<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
        <body>
        {% extends "layout.html" %}
            {% block content %}
            <div class="home">
                <h1>Welcome!</h1>
            </div>

            <section id="left">
                <h3>What Is Light Pi?</h3>
                <p>Light Pi is a Raspberry Pi and Flask based web application designed to allow users to create custom light shows. The bakcned of the project was developed in Python, while the UI
                    was developed using HTML, CSS and Javascript. The development of the light functions was facilitated by using Adafruit's NeoPixel library. The lights can be 
                    programmed to create impressive light displays by clicking buttons, rather than by writing code. No prior coding skills are required, allowing anyone to use Light Pi. 
                </p>
            </section>

            <section id="right">
                <h3>How To Use Light Pi</h3>
                <p>The three main screens to interact with the lights are the Controls, Playlists and Music Sync screens. For basic and manual control of the lights, select functions and 
                    customize them on the Controls screen. To create more impressive light displays, visit the Playlists screen to string multiple functions together and play them out in 
                    succession, one by one. To automatically sync the lights to the beat of the music, play any song on the Music Sync screen. Finally, to view and monitor a few parts of 
                    the Raspberry Pi or adjust the settings for the LED strip, go to the Info screen.
                    
                </p>
            </section>
            {% endblock %}
        </body>
</html>