<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
        <body>
        {% extends "layout.html" %}
            {% block content %}
            <div class="home">
                <h1>Welcome!</h1>
            </div>

            <section id="left">
                <h3>What Is Light Pi?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. 
                    A diam maecenas sed enim ut sem viverra aliquet. Ut tellus elementum sagittis vitae et leo duis ut diam. Scelerisque purus semper eget duis at. 
                    Consectetur purus ut faucibus pulvinar. Facilisis gravida neque convallis a.
                </p>
            </section>

            <section id="right">
                <h3>How To Use Light Pi</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor purus. 
                    A diam maecenas sed enim ut sem viverra aliquet. Ut tellus elementum sagittis vitae et leo duis ut diam. Scelerisque purus semper eget duis at. 
                    Consectetur purus ut faucibus pulvinar. Facilisis gravida neque convallis a.
                </p>
            </section>
            {% endblock %}
        </body>
</html>