<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!--Google Icons-->
        <script type="text/javascript" src="{{ url_for('static', filename='utilities.js')}}"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============================================================================-->
        <!--====                                                                     ====-->
        <!--====                                                                     ====-->
        <!--====                          Mobile Menu                                ====-->
        <!--====                                                                     ====-->
        <!--====                                                                     ====-->
        <!--=============================================================================-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='css/jquery.slicknav.min.js') }}"></script>
        <script type="text/javascript">
          $(document).ready(function () {
            $('.menu').slicknav({ prependTo: "#mobilemenu" });
          });
        </script>

    </head>
  <body>

    <header>
      <div class="container">
        <h1 class="logo">Light Pi</h1>
        <strong><nav class="menu" id="navMenu">
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('controls') }}">Controls</a></li>
            <li><a href="{{ url_for('playlists') }}">Playlists</a></li>
            <li><a href="{{ url_for('musicSync') }}">Music Sync</a></li>
            <li><a href="{{ url_for('info') }}">Info</a></li>
          </ul>
        </nav></strong>
        
        <br>
        <nav id="mobilemenu"></nav>
        
        <div class="rpiControls">
            <button id="rpiOff" type="submit" title="Shutdown the Pi" name="rpiOff" value="rpiOff" onclick="shutdownRebootAlert('shutdown')"><i class="material-icons">power_settings_new</i></button>
            <button id="rpiReboot" type="submit" title="Reboot the Pi" name="rpiReboot" value="rpiReboot" onclick="shutdownRebootAlert('reboot')"><i class="material-icons">loop</i></button>
        </div>
      </div>
    </header>
    
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>