<!DOCTYPE html>
<html>
    <head>
        <title>Music Sync</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/music.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='utilities.js')}}"></script>
    </head>
        <body>
        {% extends "layout.html" %}
            {% block content %}
            <div class="musicClass">
                <h2>Music Sync</h2>
            </div>

            <div class="row">
                <div class="column" id="colorColumn">
                    <h4>Color</h4>
                    <br>
                    <label for="favcolor">Choose a color</label>
                    <br>        
                    <input type="color" id="favcolor" name="favcolor" value="#ff0000"> 
                    <br>
                </div>
                
                <div class="column" id="musicColumn">
                    <!--=============================================================-->
                    <!--                                                             -->
                    <!--                           MUSIC                             -->
                    <!--                                                             -->
                    <!--=============================================================-->
                    <h4>Songs</h4>
                    <br>
                        
                    <div id="audio">
                        <label for="jazz">Smooth Jazz</label>
                        <audio controls id="smooth_jazz_onsets" class="songs">
                            <source src="../static/songs/smooth_jazz.wav" type="audio/wav" id="jazzSrc" name="smooth_jazz.wav">
                        </audio>

                        <br>
                        <br>
                        <label for="jazz">Drum Beat</label>
                        <audio controls id="drum_beat_onsets" class="songs">
                            <source src="../static/songs/drum_beat.wav" type="audio/wav" id="drumSrc" name="drum_beat.wav">
                        </audio>
                    </div>
                </div>

                <div class="column" id="optionsColumn">
                    <h4>Options</h4>
                    <br>
                    <div class="sliderDiv">
                        <label for="slider">Brightness:</label>
                        <input type="range" min="1" max="100" value="15" name="brightness" id="brightness">
                        <label for="brightness"><span id="value"></span>%</label>
                    </div>
                    <button type="submit" title="Turn off the lights" id="offBtn" name="btnOff" value="off" onclick="turnOff()">Turn Off   <i class="material-icons">&#xe8f5;</i></button>
                </div>

            </div>

            <script>

                var slider = document.getElementById("brightness");
                var output = document.getElementById("value");
                output.innerHTML = slider.value; // Display the default slider value
    
                // Update the current slider value (each time you drag the slider handle)
                slider.oninput = function() {
                    output.innerHTML = this.value;
                }

                off = {
                    btnOff: "off"
                }

                function turnOff(){
                    $.ajax({
                        type: "POST",
                        url: "/musicSync/musicChange",
                        data: JSON.stringify(off),
                        contentType: "application/json",
                        dataType: 'json',
                        success: function(result) {
                            console.log("Result:");
                            console.log(result);
                        }  
                    });
                }

                // For each audio element, add an ontimeupdate, onpause and onend function
                audio = document.getElementById("audio")
                console.log(audio)
                for(var i = 0; i < this.audio.children.length; i++){
                    this.audio.children[i].ontimeupdate = function(){
                        var color = document.getElementById("favcolor").value
                        sendAudioTimeStamps(this, color, slider.value)
                    }
                    this.audio.children[i].onpause = function(){
                        $.ajax({
                            type: "POST",
                            url: "/musicSync/musicChange",
                            data: JSON.stringify(off),
                            contentType: "application/json",
                            dataType: 'json',
                            success: function(result) {
                                console.log("Result:");
                                console.log(result);
                            }  
                        });
                    }
                    this.audio.children[i].onended = function(){
                        turnOff()
                    }
                }
                
            </script>
            {% endblock %}
        </body>
</html>