<!DOCTYPE html>
<html>
    <head>
        <title>Playlists</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/playlists.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='utilities.js')}}"></script>
        <!-- <script>
            $SCRIPT_ROOT = "{{ request.script_root|tojson }}";
        </script> -->
    </head>
    {% extends "layout.html" %}
    <body>
        {% block content %}
        <div class="playlists">
            <h2>Create Playlists</h2>
            <!-- <p>Add functions to the playlist and customize each. Click "Play" when done.</p> -->
        </div>
        
        <div class="row">
            <div class="column" id="functionsColumn">
                <!--=============================================================-->
                <!--                                                             -->
                <!--                           BASIC                             -->
                <!--                                                             -->
                <!--=============================================================-->
                <h4>Basic</h4>
                <ul id="basic">
                    <li id="colorFill" value="Color Fill">Color Fill <button class="addBtn" onclick="add('colorFill')"><i class="material-icons">add</i></button></li>
                    <li id="colorWipe" value="Color Wipe">Color Wipe <button class="addBtn" onclick="add('colorWipe')"><i class="material-icons">add</i></button></li>
                    <li id="rColorWipe" value="Reverse Color Wipe">Reverse Color Wipe <button class="addBtn" onclick="add('rColorWipe')"><i class="material-icons">add</i></button></li>
                    <li id="dotFill" value="Dot Fill">Dot Fill <button class="addBtn" onclick="add('dotFill')"><i class="material-icons">add</i></button>
                    <li id="pause" value="Pause">Pause <button class="addBtn" onclick="add('pause')"><i class="material-icons">add</i></button>
                </ul>

                <!--=============================================================-->
                <!--                                                             -->
                <!--                        REPEATING                            -->
                <!--                                                             -->
                <!--=============================================================-->

                <h4>Repeating</h4>
                <ul id="repeating">
                    <li id="fade" value="Fade">Fade <button class="addBtn" onclick="add('fade')"><i class="material-icons">add</i></button></li>
                    <li id="theaterChase" value="Theater Chase">Theater Chase <button class="addBtn" onclick="add('theaterChase')"><i class="material-icons">add</i></button></li>
                    <li id="twinkle" value="Twinkle">Twinkle <button class="addBtn" onclick="add('twinkle')"><i class="material-icons">add</i></button></li>
                    <li id="disco" value="Disco">Disco <button class="addBtn" onclick="add('disco')"><i class="material-icons">add</i></button></li>
                </ul>

            </div>
            
            <!--=============================================================-->
            <!--                                                             -->
            <!--                        PLAYLISTS                            -->
            <!--                                                             -->
            <!--=============================================================-->
            <div class="column" id="playlistColumn">
                <h4>Playlist</h4>
                <ul id="playlistList" name="playlist">

                </ul>
                <button type="submit" value="Play" title="Play the sequence" id="playBtn" onclick="createObject('playlistList')">Play   <i class="material-icons">&#xe038;</i></button>
            </div>

            <!--=============================================================-->
            <!--                                                             -->
            <!--                          PRESETS                            -->
            <!--                                                             -->
            <!--=============================================================-->
            <div class="column" id="presetsColumn">
                <h4>Presets</h4>
                <input type="radio" id="classic" name="functions" value="classic">
                <label for="classic">Classic</label>
                <button type="submit" title="Play the sequence" id="playPresetBtn">Play   <i class="material-icons">&#xe038;</i></button>
            </div>

            <div class="controlBtns">
                <button type="submit" title="Stop a repeating function" id="cancelBtn" name="cancel" value="cancelTask" onclick="cancelSequence()">Stop   <i class="material-icons">&#xe5c9;</i></button>
            </div>

                
            <script>
                // var checkboxes = document.getElementsByName("color2CB");
                // var secondColors = document.getElementsByName("secondColor")
                // for(var i = 0; i < color2CB.length; i++){
                //     if(checkboxes[i].checked){

                //     }
                // }

            </script>
        </div>
        {% endblock %}
    </body>
</html>